/* FORM */
.formNote {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.formNote .formNoteBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0px 0px 5px gray;
    padding: 15px 15px 0px 15px;
    border-radius: 10px;
}

.formNote .formNoteBox #writeIcon{
    height: 40px;
    width: 40px;
    margin-top: 7px;
}

.formNote .formNoteBox form{
    display: flex;
    flex-direction: column;
    width: 400px;
}

.formNote .formNoteBox form .hidden {
    padding-bottom: 15px;
}

.formNote .formNoteBox form .hidden mat-form-field{
    width: 100%;
}

.formNote .formNoteBox form .options{
    display: flex;
    justify-content: space-between;
}

.formNote .formNoteBox form .options .optionsButtons{
    border: none;
    background-color: #F9F9F9;
    padding: 5px;
}

.formNote .formNoteBox form .options .optionsButtons:hover{
    background-color: #9A9A9A;
    border-radius: 20px;
    
}

.formNote .formNoteBox form .options #submit{
    background-color: #fae900;
    font-weight: bold;
}

/* MAIN */

.titles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 250px;
    margin-top: 20px;
}

.titles mat-icon{
    margin-right: 10px;
}

mat-grid-list{
    margin-left: 200px;
    margin-right: 200px;
}


/* NOTES */
.note{
    background-color: #FFF673;
    width: 450px;
    height: 300px;
    margin: 20px;
    padding: 30px 40px 10px 40px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 8px gray;
}

.note .noteTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note .noteTitle button mat-icon{
    width: 10px;
    border-radius: 30px;
}   

.note .noteTitle button:hover{
    background-color: #0000003a;

}

.note .noteBody{
    width: 250px; 
    height: 200px; 
    overflow:auto;
}

