<app-toolbar>
    <section>
        <div class="titleButtonStructure">
            <div class="titles">
                <svg xmlns="http://www.w3.org/2000/svg" height="35px" viewBox="0 -960 960 960" width="35px" fill="#000000"><path d="M312-144q-29.7 0-50.85-21.15Q240-186.3 240-216v-480h-48v-72h192v-48h192v48h192v72h-48v479.57Q720-186 698.85-165T648-144H312Zm336-552H312v480h336v-480ZM384-288h72v-336h-72v336Zm120 0h72v-336h-72v336ZM312-696v480-480Z"/></svg>
                <h1>Trashcan</h1>
            </div>
            <button type="button" mat-raised-button (click)="openDiscardAllDialog()"><mat-icon>delete</mat-icon>DELETE ALL</button>
        </div>
        <mat-grid-list cols="4" rowHeight="400px">
            <mat-grid-tile class="noteModule" *ngFor="let note of discardNotes">
                <section class="note">
                    <div class="noteTitle">
                        <h2>{{ note.title }}</h2>
                        <button mat-button [matMenuTriggerFor]="options"><mat-icon>more_vert</mat-icon></button>
                    </div>
                    <div class="noteBody">
                        <textarea matInput rows="15" cols="25">
                            {{ note.body }}
                        </textarea>
                    </div>
                </section>
            </mat-grid-tile>
        </mat-grid-list>
        
        <mat-menu #options="matMenu">
            <button mat-menu-item><mat-icon>edit_note</mat-icon>Recover</button>
            <button mat-menu-item (click)="openDiscardDialog()"><mat-icon><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px" fill="#000000"><path d="M312-144q-29.7 0-50.85-21.15Q240-186.3 240-216v-480h-48v-72h192v-48h192v48h192v72h-48v479.57Q720-186 698.85-165T648-144H312Zm336-552H312v480h336v-480ZM384-288h72v-336h-72v336Zm120 0h72v-336h-72v336ZM312-696v480-480Z"/></svg>
            </mat-icon>Delete</button>
        </mat-menu>
    </section>
</app-toolbar>