/* MAIN */
.titleButtonStructure{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleButtonStructure button{
    margin-right: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fae900;
    padding: 10px;
    font-weight: bolder;
    height: 60px;
    width: 140px;
}

.titleButtonStructure button mat-icon{
    margin-bottom: 3px;
}

.titles{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 250px;
    margin-top: 20px;
}

.titles mat-icon{
    margin-right: 10px;
}

mat-grid-list{
    margin-left: 200px;
    margin-right: 200px;
}


/* NOTES */
.note{
    background-color: #FFF673;
    width: 450px;
    height: 300px;
    margin: 20px;
    padding: 30px 40px 10px 40px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 0px 8px gray;
}

.note .noteTitle{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.note .noteTitle button mat-icon{
    width: 10px;
    border-radius: 30px;
}   

.note .noteTitle button:hover{
    background-color: #0000003a;

}

.note .noteBody{
    width: 250px; 
    height: 200px; 
    overflow: auto;
}